[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = TahaMagdy
	email = tahamagdy314@gmail.com
[push]
	default = upstream
[core]
	editor = /usr/local/bin/vim # Vim - version 7.4.2181 
[merge]
	conflictstyle = diff3
[credential]
	helper = osxkeychain
